.header {
  width: 70%;
  font-size: 80px;
  text-align: center;
  font-family: 'Patrick Hand SC', cursive;
  color: #5A2E0C;
  border-top: 5px solid #9CB380;
  border-bottom: 5px solid #9CB380;
  border-left: 5px solid #9CB380;
  border-right: 5px solid #9CB380;
  background-color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 20px;
  padding-left: 16px;
  padding-right: 16px;
}

.headertext
{
  margin: 10px;
}

nav {
  background: #5A2E0C;
  width: 90%;
  max-width: 1500px;
  margin: auto;
}

nav ul {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0px;
  height: 100%;
}

nav li {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  box-sizing: border-box;
  text-align: center;
  border-top: 5px solid #F7EDDE;
  border-bottom: 5px solid #F7EDDE;
  border-left: 5px solid #F7EDDE;
  border-right: 5px solid #F7EDDE;
}

nav a {
    color: #FFF;
    font-family: 'Patrick Hand SC', cursive;
    text-decoration: none;
    padding: 1rem;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
  }

    #content {
      display: block;
      width: 90%;
      max-width: 850px;
      margin: auto;
    }

    .skip-link {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      border: 0;
      font-size: 1.5rem;
    }

    .skip-link:focus {
      width: unset;
      height: unset;
      position: relative;
      margin: unset;
      padding: unset;
    }

.h1 {
  font-size: 55px;
  text-align: center;
  font-family: 'Patrick Hand SC', cursive;
  color: #5A2E0C;
}

.h2 {
  font-size: 24px;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-weight: 500px;
  color: #5A2E0C;
}

.shop-local {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-top: 5px solid #9CB380;
  border-bottom: 5px solid #9CB380;
  border-left: 5px solid #9CB380;
  border-right: 5px solid #9CB380;
}

.coffee-cup {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-top: 5px solid #9CB380;
  border-bottom: 5px solid #9CB380;
  border-left: 5px solid #9CB380;
  border-right: 5px solid #9CB380;
}

.homepage-row {
  display: flex;
  flex-wrap: wrap;
}

.homepage-column {
  flex: 33.33%;
  padding: 5px;
}

.home-map {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-top: 5px solid #9CB380;
  border-bottom: 5px solid #9CB380;
  border-left: 5px solid #9CB380;
  border-right: 5px solid #9CB380;
}

.homepage-button {
  background-color: #9CB380;
  border: none;
  color: black;
  text-align: center;
  font-size: 24px;
  border-radius: 8px;
  padding: 16px;
  font-family: 'Patrick Hand SC', cursive;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%; max-width: 350px
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #F7EDDE;
}

.h2-left {
  text-align: left;
  color: #5A2E0C;
}
.h2-right {
  text-align: right;
  color: #5A2E0C;
}
.h3-left {
  text-align: left;
  color: #5A2E0C;
}

.acola {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .acola-image {
        flex-basis: 40%;
        border-top: 5px solid #9CB380;
        border-bottom: 5px solid #9CB380;
        border-left: 5px solid #9CB380;
        border-right: 5px solid #9CB380;
      }
      .acola-text {
        padding-right: 25px;
      }

.coffee-zone {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .coffee-zone-image {
        flex-basis: 70%;
        border-top: 5px solid #9CB380;
        border-bottom: 5px solid #9CB380;
        border-left: 5px solid #9CB380;
        border-right: 5px solid #9CB380;
      }
      .coffee-zone-text {
        padding-left: 25px;
        text-align: right;
      }
.coffee-zone-info {
  text-align: right;
}

.fretboard {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .fretboard-image {
        flex-basis: 40%;
        border-top: 5px solid #9CB380;
        border-bottom: 5px solid #9CB380;
        border-left: 5px solid #9CB380;
        border-right: 5px solid #9CB380;
      }
      .fretboard-text {
        padding-right: 25px;
      }

.lakota {
      display: flex;
      align-items: center;
      justify-content: center;
      }
      .lakota-image {
        flex-basis: 70%;
        border-top: 5px solid #9CB380;
        border-bottom: 5px solid #9CB380;
        border-left: 5px solid #9CB380;
        border-right: 5px solid #9CB380;
      }
      .lakota-text {
        padding-left: 25px;
        text-align: right;
            }
.lakota-info {
    text-align: right;
  }

.shortwave {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .shortwave-image {
        flex-basis: 40%;
        border-top: 5px solid #9CB380;
        border-bottom: 5px solid #9CB380;
        border-left: 5px solid #9CB380;
        border-right: 5px solid #9CB380;
      }
      .shortwave-text {
        padding-right: 25px;
      }

.shops-button {
  background-color: #9CB380;
  border: none;
  color: black;
  text-align: center;
  font-size: 24px;
  border-radius: 8px;
  padding: 16px;
  font-family: 'Patrick Hand SC', cursive;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:100%; max-width: 500px;
}

footer {
  font-size: 20px;
  background: #CFB1A0;
  color: #FFFFFF;
  text-align: left;
  margin-top: 1rem;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  border-top: 5px solid #9CB380;
  border-bottom: 5px solid #9CB380;
}

@media (max-width: 850px) {
  nav li {
width: 50%;
  }
.home-map {
    width: 100%;
  }
.header {
  font-size: 60px;
}
.acola {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
      }
      .acola-image {
        align-items: center;
      }
      .acola-info {
        text-align: center;
      }
      .coffee-zone {
              display: flex;
              align-items: center;
              justify-content: center;
              flex-wrap: wrap;
            }
            .coffee-zone-image {
              align-items: center;
              flex-basis: auto;
            }
            .coffee-zone-info {
              text-align: center;
            }
            .fretboard {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;
                  }
                  .fretboard-image {
                    align-items: center;
                  }
                  .fretboard-info {
                    text-align: center;
                  }
                  .lakota {
                          display: flex;
                          align-items: center;
                          justify-content: center;
                          flex-wrap: wrap;
                        }
                        .lakota-image {
                          align-items: center;
                          flex-basis: auto;
                        }
                        .lakota-info {
                          text-align: center;
                        }
                      .shortwave {
                          display: flex;
                          align-items: center;
                          justify-content: center;
                          flex-wrap: wrap;
                              }
                              .shortwave-image {
                                align-items: center;
                              }
                              .shortwave-info {
                                text-align: center;
                              }
  }

@media (max-width: 650px) {
nav {
  width:75%;
}
nav li {
  width:100%;
  }
.home-map {
  width: 100%;
}
  .header {
  font-size: 45px;
}
.h2-left {
  text-align: center;
}
.h2-right {
  text-align: center;
}
.h3-left {
  text-align: center;
}
.acola {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align:center;
      }
      .acola-image {
        align-items: center;
      }
      .acola-info {
        text-align: center;
      }
      .coffee-zone {
              display: flex;
              align-items: center;
              justify-content: center;
              flex-wrap: wrap;
            }
            .coffee-zone-image {
              align-items: center;
              flex-basis: auto;
            }
            .coffee-zone-info {
              text-align: center;
            }
            .coffee-zone-text {
              text-align: center;
            }
            .fretboard {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;
                  }
                  .fretboard-image {
                    align-items: center;
                    flex-basis: auto;
                  }
                  .fretboard-info {
                    text-align: center;
                  }
                  .fretboard-text {
                    text-align: center;
                  }
                  .lakota {
                          display: flex;
                          align-items: center;
                          justify-content: center;
                          flex-wrap: wrap;
                        }
                        .lakota-image {
                          align-items: center;
                          flex-basis: auto;
                        }
                        .lakota-info {
                          text-align: center;
                        }
                        .lakota-text {
                          text-align: center;
                        }
                        .shortwave{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                flex-wrap: wrap;
                              }
                              .shortwave-image {
                                align-items: center;
                                flex-basis: auto;
                              }
                              .shortwave-info {
                                text-align: center;
                              }
                              .shortwave-text {
                                text-align: center;
                              }

                              .shops-button {
                                max-width: 350px;
                              }

}
